<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login apge</title>
</head>
<body>
<!-- Tilføj at password skal bræftes to gange.-->
<form action="#" th:action="@{/CreateUserForm}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Username Error</td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>

        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>

</body>
</html>