<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="fragments/head.html"> </th:block> /*/-->
    <title>Create User</title>
</head>
<body>

<div th:insert="fragments/topnav">Menu</div>


<!-- Tilføj at password skal bræftes to gange.-->
<form th:object="${u}" method="POST">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" placeholder="Click Here" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Username Error</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" placeholder="Password"  th:field="*{password}" required></td>
            <td><input type="password" placeholder="Confirm Password" required></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr>
            <td> Access Level:</td>
            <td>
            <select th:field="*{accessLevel}">
                <option th:value="1">1</option>
                <option th:value="2">2</option>
                <option th:value="3">3</option>
            </select>
            </td>
        </tr>
        <td><button type="submit" >Submit</button></td>
    </table>
</form>

</body>
</html>
