<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="fragments/head.html"> </th:block> /*/-->
    <title>Customers</title>
</head>
<body class='list'>

    <div th:insert="fragments/topnav">Menu</div>

    <a href="/CreateCustomer"><button>Add Customer</button></a>

    <!-- For some reason these -->
    <div th:each="customer : ${customers}"}>
        <span th:text="${customer.name}"></span>
        <span th:text="${customer.email}"></span>
        <span th:text="${customer.tel}"></span>

        <span><button>Update</button></span>
        <span><button>Delete</button></span>
    </div>

</body>
</html>
