<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:include="fragments/head.html"> </th:block> /*/-->
    <title>Authentication Type</title>
</head>

<body class='list'>

<div th:insert="fragments/topnav">Menu</div>



<div class="container">

    <h3>Authentication Type</h3>
    <hr>

    <a href="/CreateAuthType"><button>Add Auth Type</button></a>


    <table class="table table-bordered table-striped">
        <thead class="thead bg-dark">
        <tr>
            <th class="text-white">Authentication Type </th>
            <th class="text-white">Edit     </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="anAuthType : ${authTypes}"  >
            <td th:text="${anAuthType.authType}" >
            <td>
                <!-- <form action="/UpdateAuthType" method='POST'> -->
                <!--     <input type="hidden" th:value="${anAuthType.authType}" name="name"/> -->
                <!--     <input type="submit" value="Update"/> -->
                <!-- </form> -->

                <form action="/DeleteAuthType" method='POST'>
                    <input type="hidden" th:value="${anAuthType.authType}" name="authType"/>
                    <input type="submit" value="Delete"/>
                </form>

            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>
