<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="fragments/head.html"> </th:block> /*/-->
    <title>Webhooks</title>
</head>
<body class='list'>

    <div th:insert="fragments/topnav">Menu</div>

    <a href="/CreateWebhook"><button>Add Webhook</button></a>

    <div th:each="webhook : ${webhooks}"}>
        <span th:text="${webhook.name}"></span>
        <span th:text="${webhook.url}"></span>
        <span th:text="${webhook.body}"></span>
        <span th:text="${webhook.responseOnSuccess}"></span>
        <span th:text="${webhook.responseOnError}"></span>

        <button>Update</button>
        <form action="/DeleteWebhook" method='POST'>
            <input type="hidden" th:value="${webhook.id}" name="id"/>
            <input type="submit" value="Delete"/>
        </form>
    </div>

</body>
</html>
