<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="fragments/head.html"> </th:block> /*/-->
    <title>Authentication Types</title>
</head>

<body class='list'>

    <div th:insert="fragments/topnav">Menu</div>

    <a href="/CreateAuthType"><button>Add Auth Type</button></a>

    <div th:each="anAuthType : ${authTypes}"}>
        <span th:text="${anAuthType.authType}"></span>

        <button>Update</button>
        <form action="/DeleteAuthType" method='POST'>
            <input type="hidden" th:value="${anAuthType.authType}" name="authType"/>
            <input type="submit" value="Delete"/>
        </form>
    </div>

</body>
</html>
