<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="fragments/head.html"> </th:block> /*/-->
    <title>HTTP Request Types</title>
</head>
<body>

    <div th:insert="fragments/topnav">Menu</div>

    <a href="/CreateHttpRequestType"><button>Add HTTP Request Type</button></a>

    <p th:each="anHttpRequestType : ${HttpRequestTypes}"}>
        <span th:text="${anHttpRequestType.httpRequestType}"></span>
        <span><button>Update</button></span>
        <span><button>Delete</button></span>
    </p>

</body>
</html>
