<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:include="fragments/head.html"> </th:block> /*/-->
    <title>API Keys</title>
</head>

<body class='list'>

<div th:insert="fragments/topnav">Menu</div>



<div class="container">

    <h3>API Keys</h3>
    <hr>

    <a href="/GenerateApiKey"><button>Generate API Key</button></a>


    <table class="table table-bordered table-striped">
        <thead class="thead bg-dark">
        <tr>
            <th class="text-white">Customer </th>
            <th class="text-white">API Key  </th>
            <th class="text-white">Edit     </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="apiKey : ${apiKeys}">
          <td th:text="${apiKey.customerName}"></td>
          <td th:text="${apiKey.key}"></td>
            <td>
                <!-- <form action="/UpdateAPIKey" method='POST'> -->
                <!--     <input type="hidden" th:value="${apiKey.key}" name="name"/> -->
                <!--     <input type="submit" value="Update"/> -->
                <!-- </form> -->

                <form action="/DeleteApiKey" method='POST'>
                    <input type="hidden" th:value="${apiKey.key}" name="name"/>
                    <input type="submit" value="Delete"/>
                </form>

            </td>


        </tr>
        </tbody>
    </table>
</div>


</body>
</html>
