<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="fragments/head.html"> </th:block> /*/-->
    <title>Customers</title>
</head>
<body class='list'>

    <div th:insert="fragments/topnav">Menu</div>

    <a href="/CreateCustomer"><button>Add Customer</button></a>

    <!-- For some reason these -->
    <div th:each="customer : ${customers}">
        <span th:text="${customer.name}"></span>
        <span th:text="${customer.email}"></span>
        <span th:text="${customer.tel}"></span>

        <button>Update</button>

        <form action="/DeleteCustomer" method='POST'>
            <input type="hidden" th:value="${customer.name}" name="name"/>
            <input type="submit" value="Delete" onclick="getConfirmation()"/>

        </form>

    </div>


    <script type = "text/javascript">

        function getConfirmation() {
            var warning = confirm("By accepting, you will delete the Customer with its related API-key(s) and HTTP-Requst type(s)");

            if(warning == true) {

            }
            else {
                warning == false;
            }
        }
    </script>

</body>
</html>
