<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="fragments/head.html"> </th:block> /*/-->
    <title>HTTP Request Types</title>
</head>
<body class='list'>

    <div th:insert="fragments/topnav">Menu</div>



    <div class="container">

        <h3>Authentication Type</h3>
        <hr>

        <a href="/CreateHttpRequestType"><button>Add HTTP Request Type</button></a>


        <table class="table table-bordered table-striped">
            <thead class="thead bg-dark">
            <tr>
                <th class="text-white">HTTP Request Type </th>
                <th class="text-white">Edit     </th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="anHttpRequestType : ${httpRequestTypes}">
                <td th:text="${anHttpRequestType.httpRequestType}"> />
                <td>
                    <form action="/UpdateHttpRequestType" method='POST'>
                        <input type="hidden" th:value="${anHttpRequestType.httpRequestType}" name="httpRequestType"/>
                        <input type="submit" value="Update"/>
                    </form>

                    <form style="display: inline;" action="/DeleteHttpRequestType" method='POST'>
                        <input type="hidden" th:value="${anHttpRequestType.httpRequestType}" name="httpRequestType"/>
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            </tbody>
        </table>
    </div>


</body>
</html>
