<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Webhooks</title>
</head>
<body>

    <div th:insert="fragments/topnav">Menu</div>

    <a href="/CreateWebhook">Create</a>

    <p th:each="webhook : ${ListWebhooks}"}>
        <span th:text="${webhook.name}"></span>
        <span th:text="${webhook.url}"></span>
        <span th:text="${webhook.body}"></span>
        <span th:text="${webhook.responseOnSuccess}"></span>
        <span th:text="${webhook.responseOnError}"></span>
        <span><button>Update</button></span>
        <span><button>Delete</button></span>
    </p>

</body>
</html>
