<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->

    <!--/*/ <th:block th:include="fragments/head.html"> </th:block> /*/-->
    <title>Webhook List</title>
</head>

<body class='list'>

    <div th:insert="fragments/topnav">Menu</div>


    <h3>Webhook List</h3>
    <hr>

    <a href="/CreateWebhook"><button>Add Webhook</button></a>


    <table class="table table-bordered table-striped">
        <thead class="thead bg-dark">
        <tr>
            <th class="text-white">ID                   </th>
            <th class="text-white">Webhook Name         </th>
            <th class="text-white">Customer             </th>
            <th class="text-white">URL                  </th>
            <th class="text-white">Body                 </th>
            <th class="text-white">Response On Success  </th>
            <th class="text-white">Response On Error    </th>
            <th class="text-white">Auth-Type            </th>
            <th class="text-white">HTTP-Request Type    </th>
            <th class="text-white">Edit                 </th>

        </tr>
        </thead>

        <tbody>
        <!-- tempEmployee = Loop parameter-->
        <!--                  : = Loops over list of employees-->
        <!--                      employees comes from our Java code-->
        <tr th:each="webhook : ${webhooks}"/>
            <td th:text="${webhook.id}"               />
            <td th:text="${webhook.name}"             />
            <td th:text="${webhook.customerName}"     />
            <td th:text="${webhook.url}"              />
            <td th:text="${webhook.body}"             />
            <td th:text="${webhook.responseOnSuccess}"/>
            <td th:text="${webhook.responseOnError}"  />
            <td th:text="${webhook.authType}"         />
            <td th:text="${webhook.httpRequestType}"  />

            <td>
                <form action="/UpdateWebhook" method='POST'>
                    <input type="hidden" th:value="${webhook.id}" name="name"/>
                    <input type="submit" value="Update"/>
                </form>

                <form action="/DeleteWebhook" method='POST'>
                    <input type="hidden" th:value="${webhook.id}" name="id"/>
                    <input type="submit" value="Delete" onclick="getConfirmation()" />
                </form>

            </td>

            <!--
            <script type = "text/javascript">

                function getConfirmation() {
                    var warning = confirm("By accepting, you will delete the Customer with its related API-key(s) and HTTP-Requst type(s)");

                    if(warning == true) {

                    }
                    else {
                        warning == false;
                    }
                }
            </script>
            -->


        </tr>
        </tbody>
    </table>
    </div>


</body>
</html>
