body {
  background: #F8F8FF;
}

/* Topnav */

.topnav a {
  margin-left: 15px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:visited {
  color: black;
}

.topnav a:link {
  color: black;
}

.topnav a:hover {
  text-decoration: underline;
}

/* The form  on list pages - used for update and delete - should not be displayed as a block element */
.list form {
  display: inline;
}
